<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PathAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A119F7DB1C8F15F0000E4404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A119F7F41C8F15F1000E4404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A119F7FF1C8F15F1000E4404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
